:root {
    --main-font-family: "DM Serif Display", "Arial" sans-serif;
    --main-text-color: #2C2830;
    --main-bg-color: #edf3f8;
    --main-font-size: 15px;
    --main-font-weight: 400;
    --main-line-height: 28px;
    --main-link-color: #ba4270;
  }